{% extends "base.html" %}
{% block title %} Booking {% endblock %}
{% block head %}
    {{ super() }}
    <script>
        window.onload = function() {
            // selected JS
            var table = document.getElementById("schedule-table");
            for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].onclick = function() {
                    // Remove the background from the previously selected row
                    var selected = document.getElementsByClassName("selected");
                    if (selected.length > 0) {
                        selected[0].className = selected[0].className.replace("selected", "");
                    }
                    // Add the background to the newly selected row
                    this.className += "selected";
                };
            }

            function convertToUnixTimestamp(inputValue) {
                // Parse the input value as a date object
                const date = new Date(inputValue);

                // Get the Unix timestamp in milliseconds and convert to seconds
                const unixTimestamp = Math.floor(date.getTime() / 1000);

                return unixTimestamp;
            }

            function convertUnixToLocaleString(unixTimestamp) {
                // Convert the Unix timestamp from seconds to milliseconds
                const date = new Date(unixTimestamp * 1000);

                // Convert to a string using the "en-AU" locale
                const dateString = date.toLocaleString('en-AU');

                return dateString;
            }

            // fix timestamps

            // Select all the td elements with class "time_start" and "time_end"
            const timeStartElements = document.querySelectorAll('td.time_start');
            const timeEndElements = document.querySelectorAll('td.time_end');

            // Convert the Unix timestamp to a date string and update the content for "time_start" elements
            timeStartElements.forEach(element => {
                const unixTimestamp = parseInt(element.textContent, 10);
                element.textContent = convertUnixToLocaleString(unixTimestamp);
            });

            // Convert the Unix timestamp to a date string and update the content for "time_end" elements
            timeEndElements.forEach(element => {
                const unixTimestamp = parseInt(element.textContent, 10);
                element.textContent = convertUnixToLocaleString(unixTimestamp);
            });




            // Book button
            document.getElementById('book').addEventListener('click', function() {
                // Find the table row with the class 'selected'
                var selectedRow = document.querySelector('tr.selected');

                // If no row is selected, alert the user and return
                if (!selectedRow) {
                    alert('No event is selected!');
                    return;
                }
                var data = "action=book_event&event_id=" + encodeURIComponent(selectedRow.id);

                // Create a new request
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/action', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');

                // Define what happens on successful data submission
                xhr.onload = function() {
                    if (xhr.status >= 200 && xhr.status < 400) {
                        var response = xhr.responseText;
                        if (response === 'success') { alert('Success!'); } else if (response === 'failure') { alert('Failure!'); } else { alert('Unexpected response!'); }
                    } else {
                        alert('Request failed! Please try again.');
                    }

                    location.reload(); // reload page
                };

                // Send the request
                xhr.send(data);
            });

            // Free button
            document.getElementById('free').addEventListener('click', function() {
                // Find the table row with the class 'selected'
                var selectedRow = document.querySelector('tr.selected');

                // If no row is selected, alert the user and return
                if (!selectedRow) {
                    alert('No event is selected!');
                    return;
                }
                var data = "action=free_event&event_id=" + encodeURIComponent(selectedRow.id);

                // Create a new request
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/action', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');

                // Define what happens on successful data submission
                xhr.onload = function() {
                    if (xhr.status >= 200 && xhr.status < 400) {
                        var response = xhr.responseText;
                        if (response === 'success') { alert('Success!'); } else if (response === 'failure') { alert('Failure!'); } else { alert('Unexpected response!'); }
                    } else {
                        alert('Request failed! Please try again.');
                    }

                    location.reload(); // reload page
                };

                // Send the request
                xhr.send(data);
            });

            // Delete button
            document.getElementById('delete').addEventListener('click', function() {
                // Find the table row with the class 'selected'
                var selectedRow = document.querySelector('tr.selected');

                // If no row is selected, alert the user and return
                if (!selectedRow) {
                    alert('No event is selected!');
                    return;
                }
                var data = "action=remove_event&event_id=" + encodeURIComponent(selectedRow.id);

                // Create a new request
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/action', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');

                // Define what happens on successful data submission
                xhr.onload = function() {
                    if (xhr.status >= 200 && xhr.status < 400) {
                        var response = xhr.responseText;
                        if (response === 'success') { alert('Success!'); } else if (response === 'failure') { alert('Failure!'); } else { alert('Unexpected response!'); }
                    } else {
                        alert('Request failed! Please try again.');
                    }

                    location.reload(); // reload page
                };

                // Send the request
                xhr.send(data);
            });

            // Create Button
            document.getElementById('create').addEventListener('click', function() {
                // Show the form when the button is pressed
                document.getElementById('createForm').style.display = 'block';
            });

            document.getElementById('eventForm').addEventListener('submit', function(event) {
                // Prevent the form from submitting in the usual way
                event.preventDefault();

                // Get the values from the form
                var teacherName = document.getElementById('teacher_name').value;
                var subjectName = document.getElementById('subject_name').value;

                // Create Date objects
                var timeStart = convertToUnixTimestamp(document.getElementById('time_start').value);
                var timeEnd = convertToUnixTimestamp(document.getElementById('time_end').value);


                // Create the data to send in the form "teacher_name=value&subject_name=value&time_start=value&time_end=value"
                var data = 'action=create_event' +
                    '&teacher_name=' + encodeURIComponent(teacherName) +
                    '&subject_name=' + encodeURIComponent(subjectName) +
                    '&time_start=' + encodeURIComponent(timeStart) +
                    '&time_end=' + encodeURIComponent(timeEnd);

                // Create a new request
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/action', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');

                // Define what happens on successful data submission
                xhr.onload = function() {
                    if (xhr.status >= 200 && xhr.status < 400) {
                        var response = xhr.responseText;

                        // Check if the response was "success" or "failure" and alert the user
                        if (response === 'success') { alert('Success!'); } else if (response === 'failure') { alert('Failure!'); } else { alert('Unexpected response!'); }

                        location.reload();
                    } else {
                        alert('Request failed! Please try again.');
                    }
                };

                // Send the request
                xhr.send(data);
            });

            // Modify Button
            document.getElementById('modify').addEventListener('click', function() {
                // Fill values from selected row
                var selectedRow = document.querySelector('tr.selected');
                if (!selectedRow) {
                    alert('No event is selected!');
                    return;
                }

                var eventForm = document.getElementById("eventForm");
                eventForm.querySelector("#subject_name").value = selectedRow.querySelector('.name').textContent;
                eventForm.querySelector("#teacher_name").value = selectedRow.querySelector('.subject').textContent;
                // eventForm.querySelector("#time_start").value = localeStringToDatetimeLocal(selectedRow.querySelector('.time_start').textContent);
                // eventForm.querySelector("#time_end").value = localeStringToDatetimeLocal(selectedRow.querySelector('.time_end').textContent);

                // Show the form when the button is pressed
                document.getElementById('createForm').style.display = 'block';
            });

            document.getElementById('eventForm').addEventListener('submit', function(event) {
                // Prevent the form from submitting in the usual way
                event.preventDefault();

                // Find the table row with the class 'selected'
                var selectedRow = document.querySelector('tr.selected');

                // If no row is selected, alert the user and return
                if (!selectedRow) {
                    alert('No event is selected!');
                    return;
                }
                var eventID = selectedRow.id;

                // Get the values from the form
                var teacherName = document.getElementById('teacher_name').value;
                var subjectName = document.getElementById('subject_name').value;

                // Create Date objects
                var timeStart = convertToUnixTimestamp(document.getElementById('time_start').value);
                var timeEnd = convertToUnixTimestamp(document.getElementById('time_end').value);


                // Create the data to send in the form "teacher_name=value&subject_name=value&time_start=value&time_end=value"
                var data = 'action=modify_event' +
                    '&event_id=' + encodeURIComponent(eventID) +
                    '&teacher_name=' + encodeURIComponent(teacherName) +
                    '&subject_name=' + encodeURIComponent(subjectName) +
                    '&time_start=' + encodeURIComponent(timeStart) +
                    '&time_end=' + encodeURIComponent(timeEnd);

                // Create a new request
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/action', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');

                // Define what happens on successful data submission
                xhr.onload = function() {
                    if (xhr.status >= 200 && xhr.status < 400) {
                        var response = xhr.responseText;

                        // Check if the response was "success" or "failure" and alert the user
                        if (response === 'success') { alert('Success!'); } else if (response === 'failure') { alert('Failure!'); } else { alert('Unexpected response!'); }

                        location.reload();
                    } else {
                        alert('Request failed! Please try again.');
                    }
                };

                // Send the request
                xhr.send(data);
            });

        }




    </script>
{% endblock %}

{% block content %}
<div class="schedule">
    <table id="schedule-table">
        <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for event in events %}
        <tr id="{{event.event_id}}">
            <td class="status">{{event.status}}</td>
            <td class="name">{{event.name}}</td>
            <td class="subject">{{event.subject}}</td>
            <td class="time_start">{{event.time_start}}</td>
            <td class="time_end">{{event.time_end}}</td>
        </tr>
        {% endfor %}
        <!-- Add more rows as necessary -->
    </table>
</div>
<div class="control-buttons">
    <button id="book">Book</button>
    <button id="free">Free</button>
    {% if is_teacher %}
    <button id="create">Create</button>
    <button id="delete">Delete</button>
    <button id="modify">Modify</button>
    {% endif %}
</div>

{% if is_teacher %}
<div id="createForm" style="display: none;">
    <form id="eventForm">
        <label for="teacher_name">Teacher Name:</label>
        <input type="text" id="teacher_name" name="teacher_name" required>
        <br>
        <label for="subject_name">Subject Name:</label>
        <input type="text" id="subject_name" name="subject_name" required>
        <br>
        <label for="time_start">Time Start:</label>
        <input type="datetime-local" id="time_start" name="time_start" required>
        <br>
        <label for="time_end">Time End:</label>
        <input type="datetime-local" id="time_end" name="time_end" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>

{% endif %}

{% endblock %}}